  <header class="main-header">
    <div class="container">
      <div class="main-navigation">
        <nav id="navigation">
          <ul id="menu-header" class="menu sf-js-enabled">
            <li id="menu-item-1050" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1050">
              <a href="{{ site.baseurl}}/">首页</a>
            </li>
            <li id="menu-item-1057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057">
              <a href="{{ site.baseurl }}/about-us/">关于我们</a>
            </li>
            <li id="menu-item-1058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057">
              <a href="{{ site.baseurl }}/contact-us/">联系我们</a>
            </li>
            <li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079">
              <a href="{{ site.baseurl }}/partners/">合作伙伴</a>
            </li>
            <li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079">
              <a href="{{ site.baseurl }}/videos/">现场视频</a>
            </li>
            <li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079">
              <a href="{{ site.baseurl }}/download/">资料下载</a>
            </li>
            <li id="menu-item-1058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1058">
              <a href="{{ site.baseurl }}/sponsor/">赞助我们</a>
            </li>
            <li id="menu-item-1059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1058">
              <a href="{{ site.baseurl }}/atom.xml">订阅</a>
            </li>
          </ul>               
        </nav>
      </div>
      
      <div id="header">
        <div class="content">
          <h1 id="logo">
            <a href="{{ site.baseurl }}/">
              数据科学沙龙
            </a>
          </h1>
          <!-- END #logo -->
          <div class="horisontal-header-banner">
            <div class="widget-area widget-header">
              <ul>
                <div class="textwidget">
                  <!-- <img src="{{ site.baseurl }}/assets/images/banner.png"> -->
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="secondary-navigation">
          <nav id="navigation">
            <ul id="menu-main-navigation" class="menu sf-js-enabled">
              <li id="menu-item-1040" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1040">
                <a href="{{ site.baseurl }}/">首页</a>
              </li>
              <li id="menu-item-1041" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1043">
                <a href="{{ site.baseurl }}/beijing/">北京</a>
              </li>
              <li id="menu-item-1042" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1042">
                <a href="{{ site.baseurl }}/shanghai/">上海</a>
              </li>
              <li id="menu-item-1043" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1045">
                <a href="{{ site.baseurl }}/guangzhou/">广州</a>
              </li>
              <li id="menu-item-1044" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1044">
                <a href="{{ site.baseurl }}/hangzhou/">杭州</a>
              </li>
              <li id="menu-item-1045" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1044">
                <a href="{{ site.baseurl }}/hacks/">Hacks/Hackers</a>
              </li>
              <li id="menu-item-1046" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1046">
                <a href="{{ site.baseurl }}/join-us/">加入我们</a>
              </li>
              <!-- SUB MENU  
               <li id="menu-item-1047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1047">
                <a class="sf-with-ul" href="#">Options</a>
                <ul class="sub-menu sf-js-enabled">
                  <li id="menu-item-1073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1073">
                    <a href="{{ site.baseurl }}/options-panel/general-settings/">
                      General Settings
                    </a>
                  </li>
                  <li id="menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1074">
                    <a href="{{ site.baseurl }}/options-panel/styling/">
                      Styling Options
                    </a>
                  </li>
                  <li id="menu-item-1075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1075">
                    <a href="{{ site.baseurl }}/options-panel/single-post/">
                      Single Post
                    </a>
                  </li>
                  <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102">
                    <a href="{{ site.baseurl }}/options-panel/importexport/">
                      Import/Export
                    </a>
                  </li>
                </ul>
              </li> SUB MENU END -->
            </ul>
          </nav>
        </div>
      </div>
      <!--#header-->
    </div>
    <!--.container-->
  </header>