
                <li class="widget widget-sidebar">
                  <h3>
                    Archives
                  </h3>
                  <ul>
                    <li>
                      <a href="http://demo.mythemeshop.com/justblue/2012/06/" title="June 2012">
                        June 2012
                      </a>
                    </li>
                    <li>
                      <a href="http://demo.mythemeshop.com/justblue/2012/05/" title="May 2012">
                        May 2012
                      </a>
                    </li>
                    <li>
                      <a href="http://demo.mythemeshop.com/justblue/2012/04/" title="April 2012">
                        April 2012
                      </a>
                    </li>
                  </ul>
                </li>