                <div id="tabber">
                  <ul class="tabs">
                    <li>
                      <a class="selected" href="#popular-posts">
                        Popular Posts
                      </a>
                    </li>
                    <li class="tab-recent-posts">
                      <a class="" href="#recent-posts">
                        Recent Posts
                      </a>
                    </li>
                  </ul>
                  <!--end .tabs-->
                  <div class="clear">
                  </div>
                  <div class="inside">
                    <div style="display: block;" id="popular-posts">
                      <ul>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/06/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/385366487_74825ae858_z-150x150.jpg" alt="Porttitor Lectus Tincidunt Elementum Nascetur Montes"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Porttitor Lectus Tincidunt Elementum Nascetur Montes" href="http://demo.mythemeshop.com/justblue/2012/06/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/">
                                Porttitor Lectus Tincidunt Elementum Nascetur Montes
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                June 17, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/05/how-twitter-works-all-you-need-to-know-about-twitter/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/354103483_63240ea13b_z-150x150.jpg" alt="How Twitter Works – All You Need To Know About Twitter"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="How Twitter Works – All You Need To Know About Twitter" href="http://demo.mythemeshop.com/justblue/2012/05/05/how-twitter-works-all-you-need-to-know-about-twitter/">
                                How Twitter Works – All You Need To Know About Twitter
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 5, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/2914216431_9111521019_z-150x150.jpg" alt="Facebook Buys Lightbox, an Android Photo Sharing App"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Facebook Buys Lightbox, an Android Photo Sharing App" href="http://demo.mythemeshop.com/justblue/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/">
                                Facebook Buys Lightbox, an Android Photo Sharing App
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 16, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/03/4-killer-social-media-marketing-strategies/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/91957795_5a27611762_z-150x150.jpg" alt="4 Killer Social Media Marketing Strategies"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="4 Killer Social Media Marketing Strategies" href="http://demo.mythemeshop.com/justblue/2012/05/03/4-killer-social-media-marketing-strategies/">
                                4 Killer Social Media Marketing Strategies
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 3, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li style="border-bottom: 0px none;">
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/3396278575_956796e6d9_z-150x150.jpg" alt="Why Facebook’s IPO Could Be Bad News For Users’ Privacy"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Why Facebook’s IPO Could Be Bad News For Users’ Privacy" href="http://demo.mythemeshop.com/justblue/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/">
                                Why Facebook’s IPO Could Be Bad News For Users’ Privacy
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 1, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--end #popular-posts-->
                    <div style="display: none;" id="recent-posts">
                      <ul>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/06/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/385366487_74825ae858_z-150x150.jpg" alt="Porttitor Lectus Tincidunt Elementum Nascetur Montes"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Porttitor Lectus Tincidunt Elementum Nascetur Montes" href="http://demo.mythemeshop.com/justblue/2012/06/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/">
                                Porttitor Lectus Tincidunt Elementum Nascetur Montes
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                June 17, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/2914216431_9111521019_z-150x150.jpg" alt="Facebook Buys Lightbox, an Android Photo Sharing App"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Facebook Buys Lightbox, an Android Photo Sharing App" href="http://demo.mythemeshop.com/justblue/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/">
                                Facebook Buys Lightbox, an Android Photo Sharing App
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 16, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/05/how-twitter-works-all-you-need-to-know-about-twitter/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/354103483_63240ea13b_z-150x150.jpg" alt="How Twitter Works – All You Need To Know About Twitter"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="How Twitter Works – All You Need To Know About Twitter" href="http://demo.mythemeshop.com/justblue/2012/05/05/how-twitter-works-all-you-need-to-know-about-twitter/">
                                How Twitter Works – All You Need To Know About Twitter
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 5, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li>
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/03/4-killer-social-media-marketing-strategies/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/91957795_5a27611762_z-150x150.jpg" alt="4 Killer Social Media Marketing Strategies"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="4 Killer Social Media Marketing Strategies" href="http://demo.mythemeshop.com/justblue/2012/05/03/4-killer-social-media-marketing-strategies/">
                                4 Killer Social Media Marketing Strategies
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 3, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                        <li style="border-bottom: 0px none;">
                          <div class="left">
                            <a href="http://demo.mythemeshop.com/justblue/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/"
                            rel="nofollow">
                              <img src="{{ site.baseurl}}/assets/images/3396278575_956796e6d9_z-150x150.jpg" alt="Why Facebook’s IPO Could Be Bad News For Users’ Privacy"
                              class="wp-post-image" height="65px" width="65px">
                            </a>
                            <div class="clear">
                            </div>
                          </div>
                          <div class="info">
                            <p class="entry-title">
                              <a title="Why Facebook’s IPO Could Be Bad News For Users’ Privacy" href="http://demo.mythemeshop.com/justblue/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/">
                                Why Facebook’s IPO Could Be Bad News For Users’ Privacy
                              </a>
                            </p>
                            <div class="meta">
                              <p>
                                May 1, 2012
                              </p>
                            </div>
                            <!--end .entry-meta-->
                          </div>
                          <!--end .info-->
                          <div class="clear">
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--end #recent-posts-->
                    <div style="display: none;" class="clear">
                    </div>
                  </div>
                  <!--end .inside -->
                  <div class="clear">
                  </div>
                </div>
                <!--end #tabber -->