---
layout: default
slider: false
---

{% if slider %}
<div class="slider">
<div class="flexslider">
  <ul class="slides">{% for slider in site.sliders %}
    <li>
    <a href="{{site.baseurl}}{{ slider.url }}" target="_blank"><img src="{{site.baseurl}}/assets/images/slider/{{ slider.img }}" /><p class="flex-caption">{{ slider.caption }}</p></a>
    </li>{% endfor %}
  </ul>
</div>
</div>

<script type="text/javascript"> 
    $slider = $('.slider');
    var href= window.location.href;
    if(href.indexOf('page') > -1){ 
        $slider.remove();
    }
</script>

{% endif %}


{% for post in paginator.posts  %}          
            <div class="post excerpt ">
              <header>
                <h2 class="title">
                  <a href="{{ site.baseurl}}{{ post.url }}"
                  title="{{ post.title }}" rel="bookmark">
                    {{ post.title }}
                  </a>
                </h2>
                <div class="post-info">
                  发布于{{ post.date | date: "%Y 年 %m 月 %d 日" }} | <span class="ds-thread-count" data-thread-key="{{ post.id }}"></span>
                </div>
              </header>
              <!--.header-->
              {% if post.img %}<a href="{{ site.baseurl}}{{ post.url }}"
              title="Porttitor Lectus Tincidunt Elementum Nascetur Montes" rel="nofollow"
              id="featured-thumbnail">
                <div class="featured-thumbnail">
                  <img src="{{ site.baseurl}}/assets/images/thumbnail/{{ post.img }}" class="attachment-thumbnail wp-post-image"
                  alt="{{ post.title }}" title="" height="150" width="150">
                </div>
              </a>{% endif %}
              <div class="post-container">
                <div class="post-content image-caption-format-1">
                   {{ post.content | split: '<!-- more -->' | first }}
                  <p class="readMore">
                    <a href="{{ site.baseurl}}{{ post.url }}"
                    rel="nofollow">
                      Read More
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <!--.post excerpt-->
 {% endfor %}           
           
  
<div class="paging">
    {% if paginator.next_page %}
      <a class="prev" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; 前一页</a>
    {% endif %}
        <!--<a href="{{ site.baseurl }}/archive">所有文章</a> -->
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="next" href="{{ site.baseurl }}/">后一页 &rarr;</a>
      {% else %}
        <a class="next" href="{{ site.baseurl }}/page{{paginator.previous_page}}">后一页 &rarr;</a>
      {% endif %}
    {% endif %}
</div>
         